/* Open Sans */
@font-face {
  font-family: OpenSans;
  src: url(./OpenSans/OpenSans-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(./OpenSans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(./OpenSans/OpenSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

/* Lora */
@font-face {
  font-family: Lora;
  src: url(./Lora/Lora-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lora;
  src: url(./Lora/Lora-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

/* Q Icons */
@font-face {
  font-family: Q-Icons;
  src: url(./Q-Icons/Q-Icons.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
